{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<div id="app">
    <div class="card">
        <div class="card-body">
            <div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5>Gestión de Sectores</h5>
                    <!-- Botón de Crear Sector -->
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#crearModalLabel">
                        Crear Sector
                    </button>
                </div>
                <hr>
                <!-- Modal Crear Sector -->
                <div class="modal fade" id="crearModalLabel" tabindex="-1" aria-labelledby="crearModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="crearModalLabel">Crear Sector</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form @submit.prevent="createSector">
                                    <!-- Selector de Bodega (idoffice) -->
                                    <div class="mb-3">
                                        <label for="createOffice" class="form-label">Bodega</label>
                                        <select id="createOffice" class="form-control" v-model="newSector.idoffice" required>
                                            <option v-for="bodega in bodegas" :key="bodega.idoffice" :value="bodega.idoffice">
                                                [[ bodega.name ]]
                                            </option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="createZone" class="form-label">Zona</label>
                                        <input type="text" class="form-control" id="createZone" v-model="newSector.zone" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="createFloor" class="form-label">Piso</label>
                                        <input type="number" class="form-control" id="createFloor" v-model="newSector.floor" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="createSection" class="form-label">Sección</label>
                                        <input type="number" class="form-control" id="createSection" v-model="newSector.section" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="createName" class="form-label">Nombre del Sector</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="createName" 
                                            v-model="autoGeneratedName" 
                                            
                                        >
                                    </div>
                                    <div class="mb-3">
                                        <label for="createDescription" class="form-label">Descripción</label>
                                        <input type="text" class="form-control" id="createDescription" v-model="newSector.description">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Crear Sector</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <!-- Filtro por Bodega -->
                    <div class="me-3">
                        <label for="filterBodega" class="form-label">Filtrar por Bodega</label>
                        <select id="filterBodega" class="form-select" v-model="filters.bodega">
                            <option value="">Todas</option>
                            <option v-for="bodega in bodegas" :key="bodega.idoffice" :value="bodega.name">
                                [[ bodega.name ]]
                            </option>
                        </select>
                    </div>
                
                    <!-- Filtro por Zona -->
                    <div>
                        <label for="filterZona" class="form-label">Filtrar por Zona</label>
                        <select id="filterZona" class="form-select" v-model="filters.zona">
                            <option value="">Todas</option>
                            <option v-for="zona in uniqueZones" :key="zona" :value="zona">
                                [[ zona ]]
                            </option>
                        </select>
                    </div>
                </div>
                <!-- Tabla para listar sectores -->
                <div class="table-responsive mt-4">
                    <table class="table table-striped table-bordered mb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Bodega</th>
                                <th>Zona</th>
                                <th>Piso</th>
                                <th>Sección</th>
                                <th>Nombre del Sector</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(sector, index) in filteredSectors" :key="sector.idsectoroffice">
                                <th scope="row">[[ index + 1 ]]</th>
                                <td>[[ sector.bodega_name ]]</td>
                                <td>[[ sector.zone ]]</td>
                                <td>[[ sector.floor ]]</td>
                                <td>[[ sector.section ]]</td>
                                <td>[[ sector.namesector ]]</td>
                                <td>[[ sector.description ]]</td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
        sectors: [],
        bodegas: [],  // Lista de bodegas disponibles
        newSector: { idoffice: '', zone: '', floor: '', section: '', namesector: '', description: '' },
        filters: {
            bodega: '', // Filtro para la bodega
            zona: ''    // Filtro para la zona
        },
      
    },
    computed: {
        // Genera automáticamente el nombre del sector basado en zona, piso y sección
        autoGeneratedName() {
            if (this.newSector.zone && this.newSector.floor && this.newSector.section) {
                return `${this.newSector.zone}${this.newSector.floor}-${this.newSector.section}`;
            }
            return '';
        },
        // Genera una lista única de zonas para los filtros
        uniqueZones() {
            const zones = this.sectors.map(sector => sector.zone);
            return [...new Set(zones)];
        },
        // Filtra los sectores según los filtros de bodega y zona
        filteredSectors() {
            return this.sectors.filter(sector => {
                const matchesBodega = this.filters.bodega ? sector.bodega_name === this.filters.bodega : true;
                const matchesZona = this.filters.zona ? sector.zone === this.filters.zona : true;
                return matchesBodega && matchesZona;
            });
        }
    },

    methods: {
        async loadSectors() {
            try {
                const response = await axios.get('/api/listar-sectores/');
                this.sectors = response.data;
            } catch (error) {
                console.error('Error al cargar sectores:', error);
            }
        },
        async createSector() {
            try {
                const response = await axios.post('/api/crear-sector/', this.newSector);
                Swal.fire({
                    title: '¡Sector creado!',
                    text: 'El sector ha sido creado correctamente.',
                    icon: 'success',
                    confirmButtonText: 'OK'
                });
                this.loadSectors();  // Recargar la lista de sectores después de crear
                $('#crearModalLabel').modal('hide');  // Cerrar el modal

                // Limpiar los campos del sector nuevo
                this.newSector = { zone: '', floor: '', section: '', namesector: '', description: '' };
            } catch (error) {
                Swal.fire({
                    title: 'Error',
                    text: 'Hubo un problema al crear el sector.',
                    icon: 'error',
                    confirmButtonText: 'Cerrar'
                });
                console.error('Error al crear el sector:', error);
            }
        },
        async loadBodegas() {
            try {
                const response = await axios.get('/api/listar-bodegas/');
                this.bodegas = response.data;
            } catch (error) {
                console.error('Error al cargar bodegas:', error);
            }
        },
    },
    mounted() {
        this.loadSectors();
        this.loadBodegas();
    }
});
</script>
{% endblock js %}
