{% extends 'partials/base-fluid.html' %}
{% load static %}

{% block content %}
<div id="app" class="m-2 extra-small ">
    <h3>Agregar Recepción EMMETT [[ currentDate ]]</h3>
   
    <div class="">
        <!-- Botones para crear proveedor y producto -->
        <div class="mb-4 row">
            <div class="col-2 mt-4">
                <button class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#modalCrearProveedor">
                    Crear Proveedor
                </button>
            </div>
            <div class="col-2 mt-4">
                <button class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#modalCrearProducto">
                    Crear Producto
                </button>
            </div>
            <div class="col-2 mt-4">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCrearCategoriaMarca">
                    Crear Categoría/Marca
                </button>
            </div>
            <div class="col-4">
                <label for="nDocument" class="form-label">Número Documento</label>
                <div class="input-group">
                    <input class="form-control" type="number" @keyup.enter="buscarFactura" v-model="form.numeroDocumento">
                    <button class="input-group-text" @click="buscarFactura"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
<!-- Línea gruesa -->
<hr style="border-top: 4px solid #000; margin-top: 20px; margin-bottom: 20px;">
        <!-- Modal Crear marca categoria -->
        <div class="modal fade" id="modalCrearCategoriaMarca" tabindex="-1" aria-labelledby="modalCategoriaMarcaLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCategoriaMarcaLabel">Crear Categoría o Marca</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="nuevaCategoria" class="form-label">Nueva Categoría</label>
                            <input type="text" class="form-control" v-model="nuevaCategoria" placeholder="Nombre de la categoría">
                            <button class="btn btn-primary mt-2" @click="crearCategoria">Crear Categoría</button>
                        </div>
                        <hr>
                        <div class="mb-3">
                            <label for="nuevaMarca" class="form-label">Nueva Marca</label>
                            <input type="text" class="form-control" v-model="nuevaMarca" placeholder="Nombre de la marca">
                            <button class="btn btn-secondary mt-2" @click="crearMarca">Crear Marca</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para Crear Proveedor -->
        <div class="modal fade" id="modalCrearProveedor" tabindex="-1" aria-labelledby="modalProveedorLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalProveedorLabel">Crear Proveedor</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="rutProveedor" class="form-label">RUT Proveedor</label>
                            <input type="text" class="form-control" v-model="nuevoProveedor.rut">
                        </div>
                        <div class="mb-3">
                            <label for="nombreProveedor" class="form-label">Nombre Proveedor</label>
                            <input type="text" class="form-control" v-model="nuevoProveedor.nombre">
                        </div>
                        <div class="mb-3">
                            <label for="aliasProveedor" class="form-label">Alias</label>
                            <input type="text" class="form-control" v-model="nuevoProveedor.alias">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" @click="crearProveedor">Crear Proveedor</button>
                    </div>
                </div>
            </div>
        </div>

      <!-- Formulario de Crear Producto -->
        <div class="modal fade" id="modalCrearProducto" tabindex="-1" aria-labelledby="modalProductoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalProductoLabel">Crear Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <!-- SKU -->
                            
                            <!-- Nombre Producto -->
                            <div class="col-6 mb-3">
                                <label for="nombreProducto" class="form-label">Nombre Producto</label>
                                <input type="text" class="form-control" v-model="nuevoProducto.nombre">
                            </div>
                            <!-- Marca -->
                            <div class="col-6 mb-3">
                                <label for="marcaProducto" class="form-label">Marca</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Buscar marca" 
                                    v-model="nuevoProducto.marcaBusqueda" 
                                    @input="buscarMarcas" 
                                />
                                <div 
                                    v-if="marcas.length > 0" 
                                    class="list-group mt-2" 
                                    style="max-height: 150px; overflow-y: auto;"
                                >
                                    <button 
                                        v-for="marca in marcas" 
                                        :key="marca.id" 
                                        @click="seleccionarMarca(marca)" 
                                        class="list-group-item list-group-item-action"
                                    >
                                        [[ marca.name ]]
                                    </button>
                                </div>
                                <!-- Mostrar la marca seleccionada -->
                                <div v-if="nuevoProducto.marcaSeleccionada" class="mt-2">
                                    <strong>Marca seleccionada:</strong> [[ nuevoProducto.marcaSeleccionada.name ]]
                                </div>
                            </div>
                           
                            <!-- Proveedor -->
                            <div class="col-6 mb-3">
                                <label for="proveedorProducto" class="form-label">Proveedor</label>
                                <select class="form-select" v-model="nuevoProducto.proveedor">
                                    <option v-for="proveedor in proveedores" :value="proveedor.id" :key="proveedor.id">
                                        [[ proveedor.rutsupplier ]] - [[ proveedor.namesupplier ]]
                                    </option>
                                </select>
                            </div>
                            <!-- Categoría -->
                            <div class="col-6 mb-3">
                                <label for="categoriaProducto" class="form-label">Categoría</label>
                                <select class="form-select" v-model="nuevoProducto.categoria">
                                    <option value="audio">Audio</option>
                                    <option value="instrumentos">Instrumentos Musicales</option>
                                    <option value="estudio">Estudio</option>
                                    <option value="iluminacion">Iluminación</option>
                                    <option value="electronica">Electrónica y Computación</option>
                                    <option value="otros">Otros</option>
                                </select>
                            </div>
                            <!-- Código de Barra -->
                            
                            <!-- Medidas y Peso -->
                            <div class="col-3 mb-3">
                                <label for="altoProducto" class="form-label">Alto (cm)</label>
                                <input type="number" class="form-control" v-model="nuevoProducto.alto" placeholder="cm">
                            </div>
                            <div class="col-3 mb-3">
                                <label for="largoProducto" class="form-label">Largo (cm)</label>
                                <input type="number" class="form-control" v-model="nuevoProducto.largo" placeholder="cm">
                            </div>
                            <div class="col-3 mb-3">
                                <label for="profundidadProducto" class="form-label">Profundidad (cm)</label>
                                <input type="number" class="form-control" v-model="nuevoProducto.profundidad" placeholder="cm">
                            </div>
                            <div class="col-3 mb-3">
                                <label for="pesoProducto" class="form-label">Peso (kg)</label>
                                <input type="number" class="form-control" v-model="nuevoProducto.peso" placeholder="kg">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" @click="crearProducto">Crear Producto</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Campo de búsqueda de proveedor -->
        <div>
            <!-- Campo de búsqueda -->
            <input 
                type="text" 
                class="form-control" 
                placeholder="Buscar proveedor por RUT o Nombre"
                v-model="searchQuery" 
                @input="searchProveedores" 
            />
        
            <!-- Lista de resultados de búsqueda con scroll -->
            <div 
                v-if="searchQuery && proveedores.length && !showAllProveedores && !proveedorSeleccionado" 
                class="list-group mt-2" 
                style="max-height: 150px; overflow-y: auto;"
            >
                <button 
                    v-for="proveedor in proveedores" 
                    :key="proveedor.id" 
                    @click="seleccionarProveedor(proveedor)" 
                    class="list-group-item list-group-item-action"
                >
                    [[ proveedor.rutsupplier ]] - [[ proveedor.namesupplier ]]
                </button>
            </div>
            
            <!-- Mostrar mensaje cuando no hay resultados -->
            <div 
                v-else-if="searchQuery && !showAllProveedores && !proveedorSeleccionado" 
                class="mt-2 text-muted"
            >
                No se encontraron proveedores.
            </div>
        
            <!-- Datos del proveedor seleccionado -->
            <div 
                v-if="form.proveedor && !showAllProveedores && proveedorSeleccionado" 
                class="mt-3"
            >
                <h5>Proveedor Seleccionado</h5>
                <p>RUT: [[ form.rutProveedor ]]</p>
                <p>Razón Social: [[ form.razonSocial ]]</p>
            </div>
        </div>

        <!-- Botón para ver todos los proveedores -->
        <!-- <div class="mt-4">
            <button class="btn btn-primary" @click="mostrarTodosLosProveedores">
                Ver todos los proveedores
            </button>
        </div> -->

        

        <!-- Datos del proveedor -->
        <div class="row mt-3">
            <div class="mb-3  col-3">
                <label for="txtRutSupplier2" class="form-label">RUT PROVEEDOR MTD2</label>
                <input class="form-control form-control-md" type="text" v-model="form.rutProveedor">
            </div>
            <div class="mb-3 col-9">
                <label for="txtNameCompany2" class="form-label">RAZON SOCIAL MTD2</label>
                <input class="form-control form-control-md" type="text" v-model="form.razonSocial">
            </div>
        </div>

  

        <!-- Información del documento -->
        <div class="mb-3 row">
                  <!-- Tipo de documento -->
        <div class="mb-3 col-3">
            <label for="cbTypeDocument" class="form-label">Tipo de Documento</label>
            <select class="form-select" v-model="form.tipoDocumento">
                <option value="33">Factura de Compra</option>
                <option value="52">Guía de Despacho</option>
            </select>
        </div>
            <div class="col-3">
                <label for="nDocument" class="form-label">Número Documento</label>
                <div class="input-group">
                    <input class="form-control" type="number" v-model="form.numeroDocumento">
                    <button class="input-group-text" @click=""><i class="bi bi-search"></i></button>
                </div>
            </div>

            <div class="col-2">
                <label for="dctoGeneral" class="form-label">Descuento</label>
                <input class="form-control" type="number" v-model="form.descuentoGeneral" value="0">
            </div>

            <div class="col-3">
                <label for="datePurchase" class="form-label">Fecha Emisión</label>
                <input class="form-control" type="date" v-model="form.fechaEmision">
            </div>

            <div class="col-3">
                <label for="dateExpired" class="form-label">Fecha Vencimiento</label>
                <input class="form-control" type="date" v-model="form.fechaVencimiento">
            </div>
        </div>

        <!-- Información adicional -->
        <div class="row">
            <div class="col-2">
                <label for="cbTypePay" class="form-label">Tipo de Pago</label>
                <select class="form-select" v-model="form.tipoPago">
                    <option value="1">No Pagado al Proveedor</option>
                    <option value="2">Cheque - Itau</option>
                    <option value="3">Cheque - BCI</option>
                    <option value="4">Cheque - Banco Estado</option>
                    <option value="5">Cheque - Santander</option>
                    <option value="6">Efectivo</option>
                    <option value="7">Transferencia</option>
                    <option value="8">Otros</option>
                </select>
            </div>

            <div class="col-2">
                <label for="nCheque" class="form-label">Nº Cheque</label>
                <input class="form-control" type="number" v-model="form.numeroCheque" value="0">
            </div>

            <div class="col-2">
                <label for="qtyCheque" class="form-label">Cantidad Cheque</label>
                <input class="form-control" type="number" v-model="form.cantidadCheque" value="0">
            </div>

            <div class="col-4">
                <label for="subtotal" class="form-label">SUBTOTAL</label>
                <input class="form-control" type="text" :value="formatCurrency(totalSubtotales)" readonly>
            </div>
        </div>

        <!-- Observaciones -->
        <div class="my-3">
            <label for="observation" class="form-label">Observación</label>
            <input class="form-control form-control-lg" v-model="form.observaciones">
        </div>

        <!-- Botones de acción omitidos por brevedad... -->
        <button 
            type="button" 
            style="background-color: #28a745; color: white; border: none;" 
            class="btn btn-lg" 
            @click="enviarDatos"
            :disabled="!formularioValido">
            Guardar
        </button>

        </div>
        <!-- Contenido de las tablas -->
        <div class="row mt-3">
            <!-- Tabla de Productos en el Documento -->
            <div class="col-7">
                <h4>Productos en el Documento</h4>
                <div class="table-responsive compact-table">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>MODELO</th>
                                <th>SKU</th>
                                <th>CANT ESP</th>
                                <th>CANT REC</th>
                                <th>COMP</th> <!-- Nueva columna para el checkmark -->
                                <th>COSTO</th>
                                <th>DCTO</th>
                                <th>SUBTOTAL</th>
                                <th>ELIMINAR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(producto, index) in productosDocumento" :key="producto.sku">
                                <td>[[ index + 1 ]]</td>
                                <td>[[ producto.model ]]</td>
                                <td>[[ producto.sku ]]</td>
                                <td>
                                    <input class="form-control form-control-sm" v-model.number="producto.cantidad" @input="verificarCompleto(index)" type="number">
                                </td>
                                <td>
                                    <input class="form-control form-control-sm" v-model.number="producto.received_quantity" @input="verificarCompleto(index)" type="number">
                                </td>
                                <td>
                                    <input type="checkbox" v-model="producto.completo">
                                </td>
                                <td>
                                    <input
                                        class="form-control form-control-sm"
                                        v-model.number="producto.costo"
                                        @input="calcularSubtotalProducto(index)"
                                        type="number"
                                        placeholder=""
                                        
                                    />
                                </td>
                                <td>
                                    <input 
                                        class="form-control form-control-sm" 
                                        v-model.number="producto.descuento" 
                                        @input="calcularSubtotalProducto(index)" 
                                        type="number" 
                                        placeholder="Descuento (%)">
                                </td>
                                <td>[[ formatCurrency(producto.subtotal) ]]</td>
                                <td>
                                    <button class="btn btn-danger btn-sm" @click="eliminarProducto(producto.sku)">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <!-- Tabla de Productos Disponibles (más pequeña) -->
            <div class="col-5 mb-4">
                <h4>Buscar Productos</h4>
                <input type="text" class="form-control form-control-sm mb-3" placeholder="Buscar producto por SKU o Nombre"
                       v-model="searchProduct" @input="searchProductos" />
            
                <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                    <table class="table table-striped table-hover" style="font-size: 0.8rem;">
                        <thead>
                            <tr>
                                <th style="width: 10%; padding: 0.3rem;">SKU</th>
                                <th style="width: 15%; padding: 0.3rem;">Nombre</th>
                                <th style="width: 10%; padding: 0.3rem;">Marca</th>
                                <th style="width: 10%; padding: 0.3rem;">Precio</th>
                                <th style="width: 5%; padding: 0.3rem;">Agregar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(producto, index) in productos" :key="producto.id">
                                <td style="padding: 0.3rem;">[[ producto.sku ]]</td>
                                <td class="text-truncate" style="padding: 0.3rem;">[[ producto.nameproduct ]]</td>
                                <td style="padding: 0.3rem;">[[ producto.brands ]]</td>
                                <td style="padding: 0.3rem;">[[ formatCurrency(producto.lastprice) ]]</td>
                                <td style="padding: 0.3rem;">
                                    <button class="btn btn-primary btn-sm" @click="agregarProducto(producto)">Agregar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <!-- Estilos inline para hacer la tabla más compacta -->
            <style>
                /* Reducir el tamaño del texto y el padding en las celdas */
                .table-hover th, .table-hover td {
                    font-size: 0.8rem; /* Tamaño de texto más pequeño */
                    padding: 0.3rem;  /* Reduce el padding en las celdas */
                }
            
                /* Ajuste del tamaño del campo de búsqueda */
                .form-control-sm {
                    font-size: 0.8rem;
                    padding: 0.25rem 0.5rem;
                }
            </style>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- SweetAlert -->

<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            nuevaCategoria: '', // Para la nueva categoría
            nuevaMarca: '', 
            marcas: [],
            form: {
                proveedor: null,
                rutProveedor: '',
                razonSocial: '',
                tipoDocumento: '33',
                numeroDocumento: '',
                fechaEmision: '',
                fechaVencimiento: '',
                descuentoGeneral: 0,
                tipoPago: 1,
                numeroCheque: 0,
                cantidadCheque: 0,
                subtotal: 0,
                observaciones: '',
            },
            
            pagination: {
                current_page: 1,
                total_pages: 1
            },
            searchProduct: '',
            searchQuery: '', 
            productosDocumento: [],
            productos: [],
            proveedores: [],
            showAllProveedores: false,
            proveedorSeleccionado: false,
            currentDate: new Date().toISOString().slice(0, 10),
            facturaCargada: false,
            nuevoProveedor: {
                rut: '',
                nombre: '',
                alias: ''
            },
            nuevoProducto: {
                marcaBusqueda: '',
                marcaSeleccionada: null,
                sku: '',
                nombre: '',
                marca: '',
                precio: 0,
                descripcion: '',
                categoria: '',
                codigoBarra: '',
                proveedor: null, // Proveedor del producto, tomará el proveedor seleccionado si existe
            },
            menu: {
                audio: false,
                pruebaAudio: false,
                checkboxFinalAudio: false,

                instrumentos: false,
                pruebaInstrumentos: false,
                checkboxFinalInstrumentos: false,

                estudio: false,
                pruebaEstudio: false,
                checkboxFinalEstudio: false,

                iluminacion: false,
                pruebaIluminacion: false,
                checkboxFinalIluminacion: false,

                electronica: false,
                pruebaElectronica: false,
                checkboxFinalElectronica: false,
            },
            nuevosCampos: {
                expected_quantity: 0, // Cantidad esperada del producto
                received_quantity: 0, // Cantidad recibida del producto
                difference: 0         // Diferencia calculada (expected_quantity - received_quantity)
            }

        },
        watch: {
            searchQuery(newQuery) {
                this.searchProveedores(newQuery);
            },
            "form.descuentoGeneral"(newValue) {
                this.productosDocumento.forEach((producto, index) => {
                    if (!producto.descuento) {
                        // Solo aplica el descuento general si no hay descuento específico
                        this.calcularSubtotalProducto(index);
                    }
                });
            }
        },
        computed: {
            
            // Propiedad computada que suma todos los subtotales
            totalSubtotales() {
                return this.productosDocumento.reduce((total, producto) => total + (producto.subtotal || 0), 0);
            },
            formularioValido() {
                // Verifica que las fechas, número de documento y al menos un producto estén presentes
                const { fechaEmision, fechaVencimiento, numeroDocumento } = this.form;
                return (
                    fechaEmision &&
                    fechaVencimiento &&
                    numeroDocumento &&
                    this.productosDocumento.length > 0
                );
            },
            totalSubtotales() {
                return this.productosDocumento.reduce((total, producto) => total + (producto.subtotal || 0), 0);
            }
        },
        methods: {
            async crearCategoria() {
                if (!this.nuevaCategoria) {
                    Swal.fire('Error', 'El nombre de la categoría no puede estar vacío.', 'error');
                    return;
                }

                try {
                    const response = await axios.post('/api/create-category/', { name: this.nuevaCategoria });
                    Swal.fire('Éxito', `Categoría "${this.nuevaCategoria}" creada correctamente.`, 'success');
                    this.nuevaCategoria = ''; // Limpia el campo
                } catch (error) {
                    Swal.fire('Error', 'No se pudo crear la categoría.', 'error');
                    console.error('Error al crear la categoría:', error);
                }
            },
            async crearMarca() {
                if (!this.nuevaMarca) {
                    Swal.fire('Error', 'El nombre de la marca no puede estar vacío.', 'error');
                    return;
                }

                try {
                    const response = await axios.post('/api/create-brand/', { name: this.nuevaMarca });
                    Swal.fire('Éxito', `Marca "${this.nuevaMarca}" creada correctamente.`, 'success');
                    this.nuevaMarca = ''; // Limpia el campo
                } catch (error) {
                    Swal.fire('Error', 'No se pudo crear la marca.', 'error');
                    console.error('Error al crear la marca:', error);
                }
            },
            seleccionarMarca(marca) {
                this.nuevoProducto.marcaSeleccionada = marca;
                this.nuevoProducto.marcaBusqueda = marca.name; // Actualiza el input con el nombre de la marca seleccionada
                this.marcas = []; // Limpiar la lista de sugerencias
            },
            async buscarMarcas() {
                try {
                    if (this.nuevoProducto.marcaBusqueda.length > 2) {
                        const response = await axios.get('/api/get-brands/', {
                            params: { q: this.nuevoProducto.marcaBusqueda }
                        });
                        this.marcas = response.data;
                    } else {
                        this.marcas = [];
                    }
                } catch (error) {
                    console.error('Error al buscar marcas:', error);
                } finally {
                }
            },
            async buscarFactura() {
                if (!this.form.numeroDocumento || !this.form.tipoDocumento) {
                    Swal.fire('Error', 'Debe ingresar el tipo y número de documento.', 'error');
                    return;
                }

                try {
                    const response = await axios.get('/api/get-factura/', {
                        params: {
                            type: this.form.tipoDocumento,
                            number: this.form.numeroDocumento,
                        },
                    });

                    // Cargar datos de la factura en el formulario
                    const data = response.data;
                    this.form.rutProveedor = data.headers.supplier;
                    this.form.razonSocial = data.headers.supplierName;
                    this.form.fechaEmision = data.headers.datePurchase;
                    this.form.fechaVencimiento = data.headers.dateExpired;
                    this.form.descuentoGeneral = data.headers.dcto;
                    this.form.tipoPago = data.headers.typePay;
                    this.form.numeroCheque = data.headers.nCheque;
                    this.form.cantidadCheque = data.headers.qtyCheque;
                    this.form.subtotal = data.headers.subtotal;
                    this.form.observaciones = data.headers.observation;

                    // Cargar los productos en la tabla
                    this.productosDocumento = data.details.map((detalle) => ({
                        model: detalle.model,
                        sku: detalle.sku,
                        cantidad: parseInt(detalle.qty, 10),
                        received_quantity: parseInt(detalle.received_quantity || 0, 10),
                        costo: parseFloat(detalle.cost),
                        descuento: parseFloat(detalle.dctoItem),
                        subtotal: parseFloat(detalle.subtotalItem),
                        completo: detalle.checkItem === "true",
                    }));

                    this.facturaCargada = true;
                    Swal.fire('Éxito', 'Factura cargada correctamente.', 'success');
                } catch (error) {
                    console.error('Error al buscar la factura:', error);
                    Swal.fire('Error', 'No se encontró la factura.', 'error');
                }
            },
            actualizarDescuentoProductos(descuentoGeneral) {
                this.detalles.forEach(detalle => {
                    detalle.dcto = descuentoGeneral; // Actualizar el descuento de cada producto
                    detalle.cost_with_discount = detalle.cost - (detalle.cost * (descuentoGeneral / 100)); // Recalcular el costo con descuento
                });
            },
            verificarCompleto(index) {
                const producto = this.productosDocumento[index];
                producto.completo = producto.cantidad === producto.received_quantity; // Marca como completo si coinciden
            },
            calcularSubtotalProducto(index) {
                const producto = this.productosDocumento[index];
                const cantidad = producto.cantidad || 0;
                const costoOriginal = producto.costo || 0;

                // Usa el descuento del producto si existe; si no, aplica el descuento general
                const descuento = producto.descuento || this.form.descuentoGeneral || 0;

                // Costo con descuento aplicado
                const costoConDescuento = costoOriginal * (1 - descuento / 100);

                // Actualiza el costo con descuento en el objeto del producto
                producto.costo = costoConDescuento;

                // Calcula el subtotal con el costo actualizado
                producto.subtotal = cantidad * costoConDescuento;
            },
            calcularTotalSubtotales() {
                const total = this.productosDocumento.reduce((acc, producto) => acc + (producto.subtotal || 0), 0);
                console.log("Total de todos los subtotales:", total);
            },
           
            seleccionarCategoria(categoria) {
                // Desmarcar todas las categorías principales, excepto la seleccionada
                for (let key in this.menu) {
                    if (key !== categoria && key.startsWith(categoria) === false) {
                        this.menu[key] = false;
                    }
                }
            },
            searchProductos() {
                axios.get('/api/get-products/', {
                    params: {
                        q: this.searchProduct,
                        page: 1
                    }
                })
                .then(response => {
                    this.productos = response.data.products;
                    this.pagination.current_page = response.data.current_page;
                    this.pagination.total_pages = response.data.total_pages;
                })
                .catch(error => {
                    console.error('Error al buscar productos:', error);
                });
            },
            changePage(page) {
                if (page > 0 && page <= this.pagination.total_pages) {
                    this.searchProductos(page);
                }
            },
            paginatedPages() {
                const range = 5;
                let start = this.pagination.current_page - Math.floor(range / 2);
                let end = this.pagination.current_page + Math.floor(range / 2);

                if (start < 1) {
                    start = 1;
                    end = range;
                }

                if (end > this.pagination.total_pages) {
                    end = this.pagination.total_pages;
                    start = this.pagination.total_pages - range + 1;
                    if (start < 1) {
                        start = 1;
                    }
                }

                const pages = [];
                for (let i = start; i <= end; i++) {
                    pages.push(i);
                }
                return pages;
            },
            formatCurrency(value) {
                return new Intl.NumberFormat('es-CL', { style: 'currency', currency: 'CLP' }).format(value);
            },
            agregarProducto(producto) {
                const productoExistente = this.productosDocumento.find(p => p.sku === producto.sku);
                if (productoExistente) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Producto duplicado',
                        text: 'Este producto ya ha sido agregado.',
                    });
                } else {
                    const descuentoGeneral = this.form.descuentoGeneral || 0; // Obtén el descuento general actual
                    const nuevoProducto = {
                        model: producto.nameproduct,
                        sku: producto.sku,
                        cantidad: 1, // Cantidad esperada, inicializada con 1
                        costo: 0, // Precio del producto
                        descuento: descuentoGeneral, // Asignar el descuento general al producto
                        entrega: false,
                        received_quantity: 0, // Cantidad recibida inicialmente en 0
                        completo: false,
                    };

                    // Calcular el subtotal con descuento
                    nuevoProducto.subtotal = nuevoProducto.cantidad * nuevoProducto.costo * (1 - nuevoProducto.descuento / 100);

                    this.productosDocumento.push(nuevoProducto);
                }
            },
            eliminarProducto(sku) {
                this.productosDocumento = this.productosDocumento.filter(producto => producto.sku !== sku);
                this.calcularSubtotal(); // Actualiza el subtotal después de eliminar
            },
            limpiarCeldas() {
                this.form = {
                    proveedor: null,
                    rutProveedor: '',
                    razonSocial: '',
                    tipoDocumento: '33',
                    numeroDocumento: '',
                    fechaEmision: '',
                    fechaVencimiento: '',
                    descuentoGeneral: 0,
                    tipoPago: 1,
                    numeroCheque: 0,
                    cantidadCheque: 0,
                    subtotal: 0,
                    observaciones: ''
                };
                this.productosDocumento = [];
            },
            searchProveedores(query) {
                // Asegura que la búsqueda solo se ejecute si la query es válida y tiene más de 2 caracteres
                if (query && query.length > 2) {
                    axios.get('/api/get-suppliers/', { params: { q: query } })
                        .then(response => {
                            this.proveedores = response.data;
                            this.showAllProveedores = false;
                        })
                        .catch(error => {
                            console.error('Error al buscar proveedores:', error);
                        });
                } else {
                    this.proveedores = []; // Limpiar resultados si la búsqueda es menor de 3 caracteres o está vacía
                }
            },
            seleccionarProveedor(proveedor) {
                this.form.proveedor = proveedor.id;
                this.form.rutProveedor = proveedor.rutsupplier;
                this.form.razonSocial = proveedor.namesupplier;
                this.proveedorSeleccionado = true; // Marca que se ha seleccionado un proveedor
                this.proveedores = []; // Vacía la lista de proveedores después de la selección
            },
            cargarProveedores() {
                this.searchProveedores();
            },
            cargarProductos() {
                this.searchProductos();
            },
            calcularDiferencia(index) {
                const producto = this.productosDocumento[index];
                producto.difference = producto.cantidad - (producto.received_quantity || 0);
            },
            crearProveedor() {
                // Crear un objeto FormData
                let formData = new FormData();
                formData.append('rut', this.nuevoProveedor.rut);
                formData.append('nombre', this.nuevoProveedor.nombre);
                formData.append('alias', this.nuevoProveedor.alias);

                axios.post('/api/create-supplier/', formData)
                    .then(response => {
                        Swal.fire('Éxito', 'Proveedor creado correctamente.', 'success');
                        this.nuevoProveedor = { rut: '', nombre: '', alias: '' };
                        this.searchProveedores();
                    })
                    .catch(error => {
                        Swal.fire('Error', 'No se pudo crear el proveedor.', 'error');
                    });
            },
            crearProducto() {
                // Construimos el objeto nuevoProducto con todos los datos del formulario
                const nuevoProducto = {
                    sku: this.nuevoProducto.sku,            // SKU generado o ingresado
                    nombre: this.nuevoProducto.nombre,      // Nombre del producto
                    marca: this.nuevoProducto.marca,        // Marca del producto
                    precio: this.nuevoProducto.precio,      // Precio del producto
                    proveedor: this.nuevoProducto.proveedor, // ID del proveedor seleccionado
                    categoria: this.nuevoProducto.categoria, // Categoría seleccionada (para generar el SKU)
                    codigoBarra: this.nuevoProducto.codigoBarra, // Código de barras
                    alto: this.nuevoProducto.alto,          // Dimensiones del producto
                    largo: this.nuevoProducto.largo,
                    profundidad: this.nuevoProducto.profundidad,
                    peso: this.nuevoProducto.peso           // Peso del producto
                };

                // Enviamos la solicitud POST al backend para crear el producto
                fetch("/api/create-product/", { // Asegúrate de usar la ruta completa si necesario
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(nuevoProducto)  // Convertimos el objeto a JSON
                })
                .then(response => response.json())  // Parseamos la respuesta a JSON
                .then(data => {
                    if (data.message) {
                        alert(data.message);  // Notificación de éxito
                        // Aquí puedes agregar lógica adicional si es necesario, como actualizar la lista de productos o limpiar el formulario
                    } else {
                        alert("Error: " + data.error);  // Muestra cualquier error retornado
                    }
                })
                .catch(error => {
                    console.error("Error al crear el producto:", error);
                    alert("Hubo un problema al intentar crear el producto.");
                });
            },
            enviarDatos() {
                const jsonData = {
                    headers: {
                        supplier: this.form.rutProveedor,
                        supplierName: this.form.razonSocial,
                        typeDocument: this.form.tipoDocumento,
                        nDocument: this.form.numeroDocumento,
                        dcto: this.form.descuentoGeneral, // Descuento general
                        datePurchase: this.form.fechaEmision,
                        dateExpired: this.form.fechaVencimiento,
                        observation: this.form.observaciones,
                        typePay: this.form.tipoPago,
                        nCheque: this.form.numeroCheque,
                        qtyCheque: this.form.cantidadCheque,
                        subtotal: this.totalSubtotales,
                        urlPDF: "",
                        urlJson: "",
                        dateReception: this.currentDate,
                        userProcess: "Nombre Usuario",
                        urlImg: ""
                    },
                    details: this.productosDocumento.map((producto) => ({
                        qty: producto.cantidad,
                        received_quantity: producto.received_quantity,
                        completo: producto.completo,
                        cost: producto.costo, // Ahora el costo ya tiene el descuento aplicado
                        codeBar: producto.codebar || '',
                        dctoItem: producto.descuento || this.form.descuentoGeneral, // Descuento por producto
                        subtotalItem: producto.subtotal,
                        deliveryItem: producto.entrega,
                        checkItem: producto.entrega ? "true" : "false",
                        sku: producto.sku,
                        idERP: "",
                        model: producto.model,
                        idPro: ""
                    })),
                    type: "1"
                };

                axios.post('/api/generar-json/', jsonData)
                    .then(response => {
                        Swal.fire({
                            title: 'Éxito',
                            text: 'El archivo JSON se ha generado correctamente.',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });
                    })
                    .catch(error => {
                        console.error("Error al enviar los datos:", error);
                        Swal.fire({
                            title: 'Error',
                            text: 'Hubo un problema al generar el archivo JSON.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    });
            },
            mostrarTodosLosProveedores() {
                // Obtener la lista completa de proveedores
                axios.get('/api/get-suppliers/')
                    .then(response => {
                        this.proveedores = response.data;
                    })
                    .catch(error => {
                        console.error('Error al obtener todos los proveedores:', error);
                    });
            },
        },
        mounted() {
            this.mostrarTodosLosProveedores();
            this.cargarProveedores();
            this.cargarProductos();
        }
    });
</script>
{% endblock js %}






