{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- Sidebar Start -->
<aside class="left-sidebar" id="sidebar">
  <!-- Sidebar scroll-->
  <div>
    <!-- Botón de Toggle siempre visible -->
    <div class="d-flex justify-content-end p-2">
      <button class="btn btn-toggle" id="toggleSidebar">
        <i class="ti ti-menu fs-5"></i>
      </button>
    </div>
    
    <!-- Logo de la Marca -->
    <div class="brand-logo d-flex align-items-center justify-content-center">
      <a href="{% url 'index' %}" class="text-nowrap logo-img text-center">
        <img src="{% static 'images/logos/emmett_logo_azul.png' %}" class="dark-logo" width="180" alt="Logo Emmett" />
        <img src="{% static 'images/logos/emmett_logo_azul.png' %}" class="light-logo" width="180" alt="Logo Emmett" />
      </a>
    </div>

    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar>
      <ul id="sidebarnav">
        
        {% if request.user.usuario.rol == 'ADMIN' %}
        <!-- Ingresar Documento -->
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'ingresar_documentos' %}">
            <span><i class="ti ti-plus"></i></span>
            <span class="hide-menu">Ingresar Documento</span>
          </a>
        </li>
        {% endif %}

        {% if request.user.usuario.rol == 'ADMIN'%}

        <!-- Autorizar Documento -->
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'recepciones_pendientes' %}">
            <span><i class="ti ti-file-check"></i></span>
            <span class="hide-menu">Autorizar Documento</span>
          </a>
        </li>
        {% endif %}
        <!-- Buscar Productos - Permitido para ADMIN, VENTAS y BODEGA -->
        {% if request.user.usuario.rol in 'ADMIN' or request.user.usuario.rol == 'VENTAS' or request.user.usuario.rol == 'BODEGA' %}
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'buscar_productos' %}">
            <span><i class="ti ti-search"></i></span>
            <span class="hide-menu">Buscar Productos</span>
          </a>
        </li>
        {% endif %}
        {% if request.user.usuario.rol == 'ADMIN' or request.user.usuario.rol == 'BODEGA' %}
        
        <!-- Imprimir Etiquetas -->
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'recepciones_aceptadas' %}">
            <span><i class="ti ti-printer"></i></span>
            <span class="hide-menu">Imprimir Etiquetas</span>
          </a>
        </li>
        {% endif %}

        
        {% if request.user.usuario.rol in 'ADMIN' or request.user.usuario.rol == 'VENTAS' or request.user.usuario.rol == 'BODEGA' %}
        
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'anadir_psector' %}">
            <span><i class="ti ti-plus"></i></span>
            <span class="hide-menu">Agregar Productos a Sector</span>
          </a>
        </li>
        {% endif %}
        {% if request.user.usuario.rol in 'ADMIN' or request.user.usuario.rol == 'BODEGA' %}

        <li class="d-none sidebar-item">
          <a class="sidebar-link" href="{% url 'editar_productos' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
              <path d="M12.146.854a.5.5 0 0 1 .708 0l2.292 2.292a.5.5 0 0 1 0 .708l-9.146 9.146a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l9.146-9.146zm-10.46 10.815L1.5 14.5l2.83-.185 8.383-8.383-2.646-2.647-8.383 8.383z"/>
              <path fill-rule="evenodd" d="M11.854 1.146a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-2 1a.5.5 0 0 1-.65-.65l1-2a.5.5 0 0 1 .11-.168l10-10a.5.5 0 0 1 .708 0z"/>
            </svg>
            <span class="hide-menu">Editar Productos</span>
          </a>
        </li>
        {% endif %}

        {% if request.user.usuario.rol in 'ADMIN' or request.user.usuario.rol == 'BODEGA' or request.user.usuario.rol == 'VENTAS' %}
        <!-- Cuadrar Sector -->
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'cuadrar_sector' %}">
            <span><i class="fa-solid fa-folder"></i></span>
            
            <span class="hide-menu">Cuadrar Sector</span>
          </a>
        </li>
        {% endif %}
        {% if request.user.usuario.rol in 'ADMIN'  %}

         <!-- Cuadrar Sector -->
         <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'crear_sector' %}">
            <i class="fa-solid fa-boxes-stacked"></i>
            
            
            <span class="hide-menu">Crear Sectores</span>
          </a>
        </li>
        {% endif %}

       

        

        <!-- Despachar Productos - Permitido para ADMIN, VENTAS y BODEGA -->
        {% if request.user.usuario.rol in 'ADMIN' or request.user.usuario.rol == 'VENTAS' or request.user.usuario.rol == 'BODEGA' %}
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'despacho' %}">
            <span><i class="ti ti-truck"></i></span>
            <span class="hide-menu">Despachar Productos</span>
          </a>
        </li>
        {% endif %}
        
        {% if request.user.usuario.rol in 'ADMIN' or request.user.usuario.rol == 'BODEGA' %}
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'despacho_interno' %}">
            <span><i class="ti ti-truck"></i></span>
            <span class="hide-menu">Despacho Interno</span>
          </a>
        </li>
        {% endif %}
        <!-- ReIngresar Productos - Permitido para ADMIN, VENTAS y BODEGA -->
        {% if request.user.usuario.rol in 'ADMIN' or request.user.usuario.rol == 'VENTAS' or request.user.usuario.rol == 'BODEGA' %}
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'reingreso' %}">
            <i class="fa-solid fa-square-plus"></i>
            <span class="hide-menu">ReIngresar Productos</span>
          </a>
        </li>
        {% endif %}

        <!-- Crear Usuarios - Solo para ADMIN -->
        {% if request.user.usuario.rol == 'ADMIN' %}
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'crear_usuarios_view' %}">
            <span><i class="ti ti-user-plus"></i></span>
            <span class="hide-menu">Crear Usuarios</span>
          </a>
        </li>
        {% endif %}

        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'login_view' %}">
            <span><i class="ti ti-user-plus"></i></span>
            <span class="hide-menu">Cerrar Sesión</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- Sidebar End -->
